@font-face {
  font-family: 'Bigilla';
  src: url('./fonts/Bigilla.otf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'Bigilla';
  src: url('./fonts/Bigilla-Bold.otf') format('opentype'); /* Assurez-vous que le nom du fichier est correct */
  font-weight: bold;
}

$white: #FFF8E8;
$black: #1A1A1A;
$red: #464634;

$bigilla: 'Bigilla', sans-serif;
$font-size-base: 16px;
$line-height-base: 1.5;

$border-radius: 0.25rem;
$box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
