@use 'variables';
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

  body {
    margin: 0;
    padding: 0;
    color: variables.$black;
    font-family: "Manrope", sans-serif;
    background: variables.$white;
    min-height: 100vh;
    overflow-x: hidden;
  }
  #app {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
 p {
    font-size: 20px;
    font-weight: 400;
    color: variables.$black;
    line-height: 30px;
  }
  section:not(.header, .fullScreen) { // Sauf les section qui prennent full largeur
    min-height: 100svh;
    width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  box-sizing: border-box;
  
  }
  .discover-button{
    height: 175px;
    width: 175px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    will-change: transform;
    transition: transform 0.1s ease;
    z-index: 15;
    & span {
      font-size: 20px;
      font-weight: 300;
      text-transform: uppercase;
      line-height: 30px;
      text-align: center;
    }
    & img {
      width: auto;
      height: 24px;
    }
  }
  .grid-img-left {
    background-size: cover;
    background-position: center;
    position: relative;
    & .jap-title {
      position: absolute;
      bottom: 0;
      right: 0;
      transform: translateY(130%);
      gap: 16px !important;
    }
  }
  .grid-img-right {
    background-size: cover;
    background-position: center;
    position: relative;
    & .jap-title {
      position: absolute;
      bottom: 0;
      left: 0;
      transform: translate(10%, 130%);
      gap: 16px !important;
    }
  }